doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.antialiased.bg-body.text-body.font-body
        .container.mx-auto.px-4


            div( )

                section(class="py-12 px-4")
                    div(class="max-w-4xl mx-auto")
                        h2(class="text-4xl text-center mb-12 font-semibold font-heading") Frequently Asked Questions
                        div(class="flex flex-wrap -mx-8")
                            div(class="lg:w-1/2 px-8 mb-8")
                                h3(class="text-lg mb-1 font-semibold font-heading font-semibold") How does our product work?
                                p some words
                            div(class="lg:w-1/2 px-8 mb-8")
                                h3(class="text-lg mb-1 font-semibold font-heading font-semibold") Why use our product?
                                p some words
                            div(class="lg:w-1/2 px-8 mb-8")
                                h3(class="text-lg mb-1 font-semibold font-heading font-semibold") Who owns the data that is collected?
                                p some words


            footer(class="p-4")
                div(class="flex flex-col lg:flex-row items-center")
                    div(class="w-full lg:w-auto lg:mr-auto text-center lg:text-left")  2021 eshan ;)
                    div(class="flex justify-center items-center space-x-6 mt-4 lg:mt-0")
